@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: #C1CC99;
    font-family: "Albert Sans", sans-serif;
    font-weight: 500;
    justify-content: center;
}

.overlay-text {
    position: relative;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin: 10px;
    margin-bottom: 0px;
    color: white;
    background-color:black;
    border: none;
    border-radius: 5px;
    z-index: 1;
    background-color: rgba(0,0,0, .8);
    background-blend-mode: lighten;
    
    
}
.overlay-button {
        
        background-color: rgba(255, 255, 255, 0.8);
        border-color: green;
        padding: 10px; 
        margin: 5px;
        color: black;
        
        border-width: 3px;
        border-style: outset;
        border-radius: 5px;
        
        font-size: 20px;
        cursor: pointer;
        text-emphasis-color: white;
        text-decoration: none;
        z-index: 99;
        
        
        
    }

    .overlay-button:hover {
        background-color:green;
        color: white;
        a {
            color: white;
        }
    }

    .choices {
        display: flex;
        justify-content: space-between;
        padding: 5px;
        
        
        
        
        
    }

    .content {
        display: block;
        max-width: 1000px;
        z-index: 999;
        margin-left: auto;
        margin-right: auto;
    }
    a {
        color:black;
        text-decoration: none;
    }
